<div class="main-container">
  <h1>Your lists</h1>

  <div class="list-cards">
    <% @lists.each do |list| %>
      <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.key == nil ? image_path("watchlist_default_picture.jpeg") : cl_image_path(list.photo.key) %>')">
        <p><%= link_to(list.name, list_path(list)) %></p>
      </div>
    <% end %>
  </div>
</div>