<div class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <h1><%= link_to("Watchlist", lists_path) %></h1>
    </div>
    <div class="navbar-link-wrapper">
      <p><%= link_to("Add a new watchlist", new_list_path) %></p>
    </div>
  </div>
</div>