// Styling the list cards

 .list-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-rows: auto;
 }

 .list-card {
  width: 400px;
  height: 300px;
  padding: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px lightgray;
  border: 1px solid lightgray;
  margin-bottom: 10px;

  a {
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 1px 1px black;
    font-weight: bolder;
    color: white;
  }
 }

  .bookmark-card {
    width: 300px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 10px 10px 10px lightgray;
    border: 1px solid lightgray;

    .movie-poster {
      max-width: 100%;
      margin-bottom: 10px;
    }

    .icons-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      p {
        margin: 0px;
      }
    }
  }

  #title-link {
    height: 70px;
  }

  #title-link a {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: #370031;
  }

  #comment-text {
   font-style: italic;
  }

  .movie-card {
    display: flex;
    justify-content: space-between;
    align-items: initial;
    width: 1000px;

    .right-wrapper {
      width: 400px;
     }
  }